header{
    text-align: center;
    text-decoration-line: underline;
    background-color: rgb(3, 112, 255);
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header,h1{
    text-align: center;
    color: aqua;
    float: l;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.luaspersegi{
    padding-bottom: 50px;
    background-color: bisque;
    border-style: solid;
    border-radius: 20px;
}
div,h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}
img{
    width: 300px;
    height: 300px;
    max-width: 100%;
}
input[type=number]{
    text-align: center;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;

}
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.luas {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
}
.luas:hover {
    background-color: #04AA6D;
    color: white;
}
.button1 {
    background-color: #bb3f3f;
    border: none;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.reset {
    background-color: white; 
    color: black; 
    border: 2px solid #bb3f3f;
}
.reset:hover {
    background-color: #bb3f3f;
    color: white;
}
